			#geral{
					text-align: center;
					align-content: center;
					width: 1152px;
					height: 2027;
					margin: auto;
					border: 2px solid black;
					background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
					}
			#tinturapagina{
					background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
					}		
			/*--cabeçalho da pagina*/		
			#degrade{
					background-color: red;
					background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 150%);
	 				width: 1152px;
	 				height: 20px;
					}
			#endereço{
					text-decoration: none;
	 				width: 1152px;
	 				height: 50px;
	 				float: top;
	 				background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
	 				}
	 		
	 		/*Parte Principal do site */		
			#titulo{
					text-align: center;
					align-items: center;
					width: 1152px;
					height: 300px;
					}
			#bloco{
					text-align: center;
					background-color: #F3F3F3;
					width: 986px;
					height: 109px;
					position: relative;
					left: 80px;
					border: 1px solid black;
					border-radius: 25px 25px 25px 25px;
					top: 100px;
					}
			#configuração{
					width: 1152px;
					height: 400px;
					
					}
			#campo{
					align-content: left;
					text-align: left;
					}
			/* configurações de dados/ email, nome e etc*/	
			#solicitante{
					width: 550px;
					height: 30px;
					border: 1px solid black;
					border-radius: 10px 10px 10px 10px;
					font: 20px black;
					}
			#Email{
					width: 550px;
					height: 30px;
					border: 1px solid black;
					border-radius: 10px 10px 10px 10px;
					font: 20px black;
					}
			#Empresa{
					width: 550px;
					height: 30px;
					border: 1px solid black;
					border-radius: 10px 10px 10px 10px;
					font: 20px black;
					}
			#area{
					width: 550px;
					height: 30px;
					border: 1px solid black;
					border-radius: 10px 10px 10px 10px;
					font: 20px black;
					}
			#selecionar{
					width: 550px;
					height: 30px;
					border: 1px solid black;
					border-radius: 10px 10px 10px 10px;
					font: 20px black;
					}		
			/* campo de despesa */		
			#despesa{
					background-color: yellow;
					width: 1152px;
					height: auto;
					}
			#relatorio{
					align-content: center;
					text-align: center;
					}
			#incluir{
					width: 150px;
					height: 50px;
					float: center;
					background-color: green;
					font: 20px white;
					border: 2px solid black;
					border-radius: 5px 5px 5px 5px;
					}
			/* Linha de Despesas */
			#bloco2{
				 	width: 1152px;
				 	height: 200px;
				 	border: 4px solid black;
				 	}				
			#botão{
					font: 25px;
					width: 40px;
					height: 40px;
					background-color: red;
					}	
			#seleção{
					height: 40px;.
					font: 15px black ;
					border: 2px solid black;
					border-radius: 15px 15px 15px 15px;
					}
			#descrição1{
					width: 300px;
					height: 40px;
					font: 15px black;
					border: 2px solid black;
					border-radius: 15px 15px 15px 15px;
					}
			#vlunitario1{
					width: 100px;
					height: 40px;
					font: 15px black;
					border: 2px solid black;
					border-radius: 15px 15px 15px 15px;
					}
			#quantidade1{
					width: 100px;
					height: 40px;
					font: 15px black;
					border-radius: 15px 15px 15px 15px;
					border: 2px solid black;
					}
			#subtotal{
					width: 100px;
					height: 40px;
					font: 15px black;
					border-radius: 15px 15px 15px 15px;
					border: 2px solid black; 
					}				
			/* rodapé */	
			#final{
	 				background: #fddb92 0%;
	 				border: 2px solid black;
	 				width: 1152;
	 				height: 110px;
					text-align: center;
					position: relative;
					top: 900px;
					right: 2px;
					}
	 		#icon1{
	 				width: 30px;
	 				height: 30px;
	 				margin: 10px;
	 				position: relative;
	 				bottom: 20px;
	 				}		
	 		#icon2{
	 				width: 30px;
	 				height: 30px;
	 				margin: 10px;
	 				}			
	 		#icon3{
	 				width: 30px;
	 				height: 30px;
	 				margin: 10px;
	 				}			
	 		#icon4{
	 				width: 30px;
	 				height: 30px;
	 				margin: 10px;
	 				}	
			#corpo{
				    margin: auto;
					width: 1152px;
					height: 2400px;
					}	
		
			